$label-font-size: 20px;
$smaller-font-size: 14px;
$even-smaller-font-size: 12px;
$smallest-font-size: 10px;
$reading-font-size: 16px; // Default size for tablet browsers
$default-text-color: #000;
$active-text-color: #FFF;
$active-background-color: #0000ff;
$left-column-width: 240px;
$background: #fdfdfd;
$left-column-background: #f8f8f8;
$two-column-content-background: $background;
$extra-spaced-line-height: 30px;

$header_height: 49px;
$phone_header_height: 39px;
$phone_header_icon_spacing: 10px;
$header_bottom_border: 1px;
$header_gradient: top, rgba(250,249,248,0.8) 0%, rgba(244,244,243,0.8) 100%;
$header_icon_height: 40px;
$phone_header_icon_height: 30px;

$top_menu_color: #444;
$top_menu_selected_bg: #d7d7d5;

$was_clicked: rgba(255,234,97, 1.0);

$light_gray: #888;
$very_light_gray: #BBB;

$color-2: #ee670a;
$warning-color: #ee670a;
