- sessions.each do |s|
  = link_to download_pdf_session_path(s), :style => "overflow: hidden" do
    = image_tag("ponzu/pdficon_large.png", :style => "float:left; margin-right: 10px")
    %span.number= s.number
    = s.title
