$text-color: #000000;
$link-color: #00F;
$link-visited-color: #5E00FF;
$border-color: #888888;
$heading-block-color: #9b101b;
$top-menu-color: #00F;
$top-menu-background-color: #FFFFFF;
$top-menu-border-color: #888888;
$h1-color: #333333;
$h2-color: #333333;
$h2-background-color: #FFFFFF;
$h2-border-color: #333333;
$h3-color: #c91325;
$h4-color: #c91325;
body {
  font-size:14px;
  line-height: 17px;
  color: $text-color;
}
a {
  color: $link-color;
}
a:visited {
  color: $link-visited-color;
}
.footer {
  border-top: 1px solid $border-color;
}
.message_in_list {
  background-color:#FFC9CA;
}
.message, .border_top {
  border-top: 1px #888 solid;
}
.blue {
  color: #0080FF;
}
 .pink {
  color: $heading-block-color;
}
h1 {
  color: $h1-color;
}
h2 {
  background-color: $h2-background-color;
  color: $h2-color;
  border-bottom: 1px solid $h2-border-color;
}
h3 {
  color: $h3-color;
}
h4 {
  color: $h4-color;
}
.presentation_detail .number {
  color: #C5003E;
}
.search_hit_text {
  border: solid 1px #CCC;      
}
.highlight {
  background-color:#FFFF6B;
}
.top_menu {
  background-color: $top-menu-background-color;
  color: $top-menu-color;
  border-bottom: 1px solid $top-menu-border-color;
}
.top_menu a {
  color: $top-menu-color;
}
.participate {
  background-color: #FF0;
}
.count, .red {
  color: #F00;
  font-weight: bold;
}
.color_0 {
  background-color: #ffb7b7;
}
.color_1 {
  background-color: #b7ffff;
}
.color_2 {
  background-color: #ffdbb7;
}
.color_3 {
  background-color: #b7dbff;
}
.color_4 {
  background-color: #ffffb7;
}
.color_5 {
  background-color: #b7b7ff;
}
.color_6 {
  background-color: #dbffb7;
}
.color_7 {
  background-color: #dbb7ff;
}
.color_8 {
  background-color: #b7ffb7;
}
.color_9 {
  background-color: #ffb7ff;
}
.color_10 {
  background-color: #b7ffdb;
}
.color_11 {
  background-color: #C2C2C2;
}  
.received {
  background-color: #ffff97;
}
.time_indicator {
  text-align:center;
}
#no_external_css_warn {
  display: none;
}
